{#
/**
 * @file
 * Islandora Solr grid template
 *
 * Variables available:
 * - $results: Primary profile results array
 *
 * @see template_preprocess_islandora_solr_grid()
 */
#}

{% if results is empty %}
  <p class="no-results">{{ 'Sorry, but your search returned no results.'|t }}</p>
{% else %}
  <div class="islandora-solr-search-results">
    <div class="islandora-solr-grid clearfix">
    {% for result in results %}
      <dl class="solr-grid-field">
        <dt class="solr-grid-thumb">
          <?php
            // @FIXME
// url() expects a route name or an external URI.
// $image = '<img src="' . url($result['thumbnail_url'], array('query' => $result['thumbnail_url_params'])) . '" alt="' . $result['object_label'] . '"/>';

            // @FIXME
// l() expects a Url object, created from a route name or external URI.
// print l($image, $result['object_url'], array(
//               'html' => TRUE,
//               'query' => $result['object_url_params'],
//               'fragment' => isset($result['object_url_fragment']) ? $result['object_url_fragment'] : '',
//               'attributes' => array('title' => $result['object_label']),
//             ));

          ?>
        </dt>
        <dd class="solr-grid-caption">
          <?php
            $object_label = isset($result['object_label']) ? $result['object_label'] : '';
            // @FIXME
// l() expects a Url object, created from a route name or external URI.
// print l($object_label, $result['object_url'], array(
//               'query' => $result['object_url_params'],
//               'fragment' => isset($result['object_url_fragment']) ? $result['object_url_fragment'] : '',
//               'attributes' => array('title' => $result['object_label']),
//             ));

          ?>
        </dd>
      </dl>
    {% endfor %}
    </div>
  </div>
{% endif %}
